body {
   font-family: sans-serif;
   background-color: #FCFCFC;
   color: #222;
}

#result { white-space: pre; }

.collapse, .collapseall, .collapseall * { margin: 0; }
.error { color: darkred; }
.version { font-style: italic; color: #777; }
.muted { color: #777; }
.disabled, [data-disabled] {
   pointer-events: none;
   opacity: 0.5;
   text-decoration: none;
   cursor: wait;
}
[data-hidden] { display: none !important; }
[data-status="error"] { background-color: #F05050 !important; }
[data-status="ok"] { background-color: #90F090 !important; }
.right { flex-direction: row-reverse; }
.center { text-align: center; }
.inline { display: inline-block; }
.block { display: block; }
.inline > * { vertical-align: middle; }
.inert, .inertall, .inertall * {
   touch-action: manipulation;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   user-select: none;
}
.striped:nth-child(even) { background-color: rgba(0,0,0,0.02); }
.evenfill { display: flex; }
.evenfill > * { flex: auto; }
.flexrow { display: flex; flex-flow: row nowrap; }
.flexrow > * { flex: auto; }
.noflex { flex: none; }

input, textarea, button, .likeinput {
   border-radius: 0;
   border: 1px solid #AAA;
   outline: none;
}
input[type="color"] {
   padding: 0px;
}
input:focus, textarea:focus {
   border: 1px solid blue;
}

.pixelated {
   image-rendering: moz-crisp-edges;
   image-rendering: crisp-edges;
   image-rendering: optimizespeed;
   image-rendering: pixelated;
}

