body {
   font-family: sans-serif;
   background-color: #FCFCFC;
   color: #222;
   display: flex;
   flex-wrap: wrap;
}
#main { 
   margin-bottom: 0.5rem; 
   margin-right: 0.2rem; 
}
form { margin-bottom: 0.4em; }
.disabled {
   pointer-events: none;
   opacity: 0.5;
   text-decoration: none;
   cursor: wait;
}
.version {
   font-style: italic;
   color: #777;
}
.right { flex-direction: row-reverse; }
.inline { display: inline-block; }
.inline > * { vertical-align: middle; }
.inert {
   touch-action: manipulation;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   user-select: none;
}
#window {
   border: 1px solid #222;
   width: 600px;
   height: 600px;
   overflow: hidden;
   position: relative;
}
#window > * {
   padding: 0;
   margin: 0;
}
#drawing {
   position: absolute;
   cursor: crosshair;
}
#line {
   display: inline-block;
   background-color: #F7F7F7;
   padding: 0.1em;
}
#lineNumber {
   display: inline-block;
   width: 1.3em;
   text-align: center;
}
input[type="range"] { width: 100px; }
#controls > * { vertical-align: top; }
#pages button { font-weight: bold; }
#pagenum { font-size: 0.8em; }
#palette {
   background-color: #EEE;
   padding: 0.2em;
}
#palette button {
   width: 20px;
   height: 10px;
   border: 1px solid rgb(0,0,0,0.2);
   cursor: pointer;
   padding: 0;
}
#palette > div { display: block; }
/* Chat styling */
#chat {
   min-width: 20em;
   vertical-align: top;
   font-size: 0.8em;
   flex-grow: 1;
   flex-basis: 20em;
}
#mainForm, #mainForm > *, #messageContainer { width: 100%; }
#messageContainer {
   height: 400px;
   overflow-y: scroll;
   overflow-x: hidden;
   background-color: #FFF;
}
#messages {
   display: block;
   white-space: pre-wrap;
   padding: 0.25em;
}
.message:nth-child(even) { background-color: #F7F7F7; }
.username { font-weight: bold; }
#usernamee { display: block; }
#message {
   display: block;
   resize: vertical;
   height: 5em;
}
/* Data */
#statusindicator {
   display: inline-block;
   width: 1.5em;
   height: 1.5em;
   line-height: 1.5em;
   background-color: gray;
   text-align: center;
   font-size: 0.7em;
   color: rgba(0,0,0,0.25);
}
#status { color: gray; }
#data > * { margin-bottom: 0.5em; }
#data a {
   padding: 0.2em;
   cursor: pointer;
}
.right #swapside {
   transform: scaleX(-1);
   display: inline-block;
}
#info { padding: 0 0.2em; }
