/* Main */
body
{
   font-family: sans-serif;
   background-color: #FCFCFC;
}

.inline
{
   display: inline-block;
   vertical-align: middle;
}

/* Canvas stuff? */
canvas 
{ 
   border: 1px solid;
   padding: 0;
   margin: 0;
}

#controls > *, #line > *
{
   vertical-align: middle;
}

#download
{
   padding: 0.2em;
   font-size: 0.8em;
}

#line
{
   display: inline-block;
   background-color: #F7F7F7;
   padding: 0.1em;
}


#palette
{
   background-color: #EEE;
   padding: 0.2em;
   display: inline-block;
}

#palette button
{
   width: 1.5em;
   height: 1.5em;
   border: none;
   cursor: pointer;
   border-radius: 2em;
   vertical-align: middle;
}

#palette button[data-selected]
{
   border-radius: 0;
   width: 2em;
   height: 2em;
}


/* Chat styling */

#chat
{
   width: 15em;
}

#mainForm, #mainForm > *, #messageContainer
{
   width: 100%;
}

#messageContainer
{
   height: 20em;
   overflow-y: scroll;
   overflow-x: hidden;
   background-color: #FFF;
}

#messages
{
   display: block;
   white-space: pre-wrap;
   font-size: 0.8em;
   padding: 0.25em;
}

#username, #message
{
   display: block;
}
