body
{
   font-family: sans-serif;
}

canvas 
{ 
   border: 1px solid;
   padding: 0;
   margin: 0;
}

#download
{
   padding: 0.2em;
   font-size: 0.8em;
}

#palette
{
   background-color: #EEE;
   padding: 0.2em;
   display: inline-block;
}

#palette button
{
   width: 1.5em;
   height: 1.5em;
   border: none;
   cursor: pointer;
   border-radius: 2em;
   vertical-align: middle;
}

#palette button[data-selected]
{
   border-radius: 0;
   width: 2em;
   height: 2em;
}
