/* Main */
body
{
   font-family: sans-serif;
   background-color: #FCFCFC;
}

.inline
{
   display: inline-block;
   /*vertical-align: middle;*/
}

.inline > *
{
   vertical-align: middle;
}

/* Canvas stuff? */
#window
{
   border: 1px solid;
   width: 600px;
   height: 600px;
   overflow: hidden;
   position: relative;
}

#drawing
{
   position: absolute;
}

canvas 
{ 
   padding: 0;
   margin: 0;
}

#data a
{
   padding: 0.2em;
   font-size: 0.8em;
}

#line
{
   display: inline-block;
   background-color: #F7F7F7;
   padding: 0.1em;
}

input[type="range"]
{
   width: 7em;
}

#pages button
{
   font-weight: bold;
}

#pagenum
{
   font-size: 0.8em;
}

#palette
{
   background-color: #EEE;
   padding: 0.2em;
   display: inline-block;
}

#palette button
{
   width: 1.5em;
   height: 1.5em;
   border: none;
   cursor: pointer;
   border-radius: 2em;
}

#palette button[data-selected]
{
   border-radius: 0;
   width: 2em;
   height: 2em;
}


/* Chat styling */

#chat
{
   width: 15em;
   vertical-align: top;
}

#mainForm, #mainForm > *, #messageContainer
{
   width: 100%;
}

#messageContainer
{
   height: 400px;
   overflow-y: scroll;
   overflow-x: hidden;
   background-color: #FFF;
}

#messages
{
   display: block;
   white-space: pre-wrap;
   font-size: 0.8em;
   padding: 0.25em;
}

#username, #message
{
   display: block;
}

/* Data */
#statusindicator
{
   display: inline-block;
   width: 1em;
   height: 1em;
   background-color: gray;
}
