/* 12-15-2020 */

body {
   display: flex;
   width: 100%;
   height: 100%;
   flex-direction: row;
}

body[data-flipped] {
   flex-direction: row-reverse;
}

canvas {
   background-color: white;
}

#window {
   flex: 0 1 1000px; /*auto; /*1000px;*/
   background-color: #EEE;
   overflow: hidden;
   position: relative;
   /*overflow-x: hidden;
   overflow-y: auto;*/
}

#scrollblock {
   position: absolute;
   left: 0;
   width: 100%;
}

#textbox {
   width: 100%;
   border-bottom: 1px solid #999;
}

#messages {
   background-color: white;
}

/* Message form */
#messageform {
   margin: 0;
   display: flex;
}

#messageform .inputblock {
   display: flex;
   flex-direction: column;
}

#messageform textarea {
   flex: auto;
}

/* Scrollbar */
#scrollbar {
   position: relative;
   background-color: #DDD;
   width: 10px;
   flex: none;
}

#scrollbarbar {
   position: absolute;
   left: 0;
   background-color: #AAA;
   height: 25px;
   width: 100%;
   touch-action: none;
}

/* Sidebar */
#sidebar {
   flex: none;
   width: 75;
   background-color: #F0F0F0;
   overflow-x: hidden;
}

/* Controls */
#controls > * {
   width: 100%;
}

#tools {
   display: flex;
   flex-flow: row wrap;
}

#tools button {
   width: 25px;
   height: 25px;
   cursor: pointer;
   padding: 0;
}

#tools [data-selected] {
   background-color: skyblue;
}

#pagecontrols {
   font-size: 0.8em;
   padding: 0.2em;
}
/*::-webkit-scrollbar {
   -webkit-appearance: none;
   width: 7px;
   height: 7px;
   -webkit-overflow-scrolling: auto;
}
::-webkit-scrollbar-thumb {
   border-radius: 4px;
   background-color: rgba(0,0,0,.5);
   -webkit-box-shadow: 0 0 1px
   rgba(255,255,255,.5);
}*/
