body
{
   font-family: sans-serif;
}

#messageContainer
{
   height: 20em;
   overflow-y: scroll;
   overflow-x: hidden;
}

#messages
{
   display: block;
   white-space: pre;
}

#username, #message
{
   width: 20em;
   display: block;
}
